@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
 margin:0;
padding:0;
box-sizing: border-box;
font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif; 
  background-color: #f7f9fc; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  color: #004d99; 
}

main {
  flex-grow: 1; 
  padding: 2rem 0;
  max-width: 1200px; 
  width: 100%;
  margin: 0 auto; 
}


.cta-button img{
   width: 20px;
  margin-left: 10px;
}