.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #05294e !important;
  background-image: none !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.logo-icon {
  font-size: 50px;  
}


.navbar {
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: #cce0ff; 
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 0.25rem;
}

.nav-link:hover {
  color: white;
}

.nav-link.active {
  color: white;
  border-bottom: 3px solid #ffcc00; 
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  .navbar {
    gap: 1rem;
  }
}